.menuItem {
  display: flex;
  flex-direction: row;
  width: 24rem;
  height: 10rem;
  background-color: #680605;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  gap: 1rem;
}

.imgContainer {
  aspect-ratio: 1;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
  object-position: center;
}

.menuItemText {
  display: flex;
  flex-direction: column;
}

.menuItem:hover {
  filter: brightness(120%)
}

.menuItemName {
  font-size: 1.2rem;
  text-align: left;
}

.menuItemPrice {
  font-size: 1.2rem;
  margin-top: auto;
  text-align: left;
}

.alignLeft {
  text-align: left;
}

.caloriesText {
  color: gray;
  text-align: left;
}

