.menuItem {
  display: flex;
  flex-direction: row;
  width: 24rem;
  height: 8rem;
  background-color: var(--surface-raised);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  gap: 1rem;
}

.imgContainer {
  aspect-ratio: 1;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
  object-position: center;
}

.menuItemText {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menuItemText * {
  color: var(--primary-text);
  font-size: 0.9rem;
}

.menuItem:hover {
  filter: brightness(92%)
}

.menuItemNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuItemName {
  font-size: 1.2rem;
}

.menuItemPrice {
  font-size: 1.2rem;
  margin-top: auto;
  text-align: left;
}

.alignLeft {
  text-align: left;
}

.caloriesText {
  color: gray;
  text-align: left;
}

