.orderItem {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-bottom: 1px solid black;
  color: black;
}

.orderItemName {
  text-align: left;
}

.orderItemPrice {
  text-align: right;
}
