.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContents {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-bg);
  border-radius: 1rem;
  color: black;
  padding: 0.5rem;
}

.popupButtonCol {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.popupCloseButton {
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  height: 100%;
}
