.topBarContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  background-color: var(--secondary-bg);
}

.topBarRow1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%; 
  height: 4.5rem;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--primary-bg);
}

.restaurantName {
  font-size: 4rem;
  font-weight: 10;
  color: var(--secondary-text);
}

.topBarRow2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.5rem;
}

.navButton {
  background-color: #51653E;
  color: white;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.navButton:hover {
  filter: brightness(120%);
  color: white;
}
