.sectionLabel {
  background-color: #F3C886;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-text);
}

.sectionLabel:hover {
  filter: brightness(90%)
}

.labelSeparator {
  background-color: #680605;
  height: 60%;
  width: 0.1rem;
}

